@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    color: #fff !important;
    font-family: 'Ubuntu';
}

.menu ul li{
    font-size: 16px;
}
.container-index{
    background-color: #003589;
    height: 510px;
}

.container-projects-index{
    position: relative;
    margin-top: -100px;
    background-color: #82a6df;
    height: 510px;
}

.container-fluid{
    padding: 0px !important;
}

.h2-index{
    font-size: 48px !important;
}

.h5-index{
    font-size: 24px;
    text-align: justify;
}

.box-img img{
    width: 300px;
    height: 300px;
    background-color: #fff !important;
    border-radius: 500px;
}


.h3-index{
    line-height: 24px;
    margin: 180px 200px 50px 0;
    position: fixed;
}

.centralizarText{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.centralizarImg
{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}


.inicio{
    margin-bottom: 100px;
}

@media screen and (max-width: 800px) {

    .container-index{
        width: 100% !important;
    }

    .h2-index{
        font-size: 30px !important;
    }

    .h5-index{
        font-size: 20px !important;
    }

   .centralizarImg{
     margin: 0;
     padding: 0;    
     margin-top: auto;
     margin-bottom: auto;
    }   

    .p-box{
        font-size: 12px !important;
    }

    .centralizarImg img{
        width: 150px !important;
        height: 150px;
    }

    .centralizarText{
        width: 200px !important;
        margin-right: 0;
    }   

    .gallery-wrapper {
        margin: 0 5px !important;
    }

    .container{
        max-width: 400px !important;
    }

    .item {
        width: 50px !important;
        height: 50px !important;
    }
}

.title-main{
    color: black !important;
    font-size: 2em !important;
    text-align: center !important;
    top: 50px !important;
    position: relative !important;
}

.container {
    box-sizing: border-box;
    margin-top: 100px !important;
    position: relative;
    padding: 30px;
    max-width: 640px;
    margin: 0 auto;
 }

.gallery-wrapper {
    overflow-x: auto;
    margin: 0 40px !important;
}

.arrow-left,
.arrow-right {
    position: absolute !important;
    top: 10px;
    left: -5px;
    right: auto;
    bottom: 10px;
    font-size: 40px;
    line-height: 250px;
    width: 40px;
    color: black !important;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 900%);
    opacity: 1;
    cursor: pointer;
    border: none;
}

.arrow-right {
    right: -5px;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 900%);
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.item {
    width: 250px !important;
    height: 250px !important;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.4;
}

.current-item {
    opacity: 1;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.btn-custom{
    width: 40px !important;
    height: 40px !important;
    border-radius: 150px !important;
}

.width-p{
    width: 200px;
}

.footer-custom{
    background-color: #fff !important;
    margin-top: -100px;
}

.color-custom{
    color: #003589 !important;
}

.strong-p{
    font-weight: bold;
}
